<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <!--<target name="net" xsi:type="Network" address="udp://localhost:19869" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>-->
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy}/${date:format=MM}/${shortdate}.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${stacktrace}|${message}"/>
  </targets>

  <rules>
    <!--<logger name="default" writeTo="net"/>-->
    <logger name="default" minlevel="Debug" writeTo="file"/>
  </rules>
</nlog>